extends layout

block content
  h1= title
  - let results = ['rock','loin',777]
  div(class="container-fluid")
    div(class="row")
      each item in results  
        div(class="col-sm-2")
          p #{item}
          
          