extends layout

block content
  h1= title
  - let rows = Number(query.rows);
  - let cols = Number(query.cols);
  p the no of rows are #{query.rows} and no of coloums are #{query.cols}
  - if (!Number.isInteger(rows) || !Number.isInteger(cols) || rows < 1 || cols < 1) {
    p Invalid input: Rows and columns must be positive integers. } 
  - else {
    

  